Repository gabriel2m/ag-wedding: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/pint, prettier --write

refactor: clear sail
  sail
Due: none

feat: add admin.users.destroy
  app/Http/Controllers/Admin/UserController.php
  lang/pt_BR.json
  resources/views/admin/users/destroyed.blade.php
  resources/views/admin/users/page.blade.php
Due: ./vendor/bin/pint, prettier --write

refactor: clear views
  resources/views/components/admin/content.blade.php
  resources/views/components/admin/page-link.blade.php
  resources/views/components/admin/table/header/text-filter.blade.php
  resources/views/components/auth/checkbox.blade.php
Due: ./vendor/bin/pint, prettier --write

fix: use cursor paginate to support ajax delete
  app/View/Composers/Admin/Users/Page.php
  resources/views/admin/users/page.blade.php
  resources/views/vendor/pagination/tailwind.blade.php
  tests/Feature/routes/web/admin/users/IndexTest.php
Due: ./vendor/bin/pint, prettier --write

feat: add WeddingGuest
  app/Enums/WeddingGuestResponse.php
  app/Models/WeddingGuest.php
  config/app.php
  database/factories/WeddingGuestFactory.php
  database/migrations/2024_03_20_111557_create_wedding_guests_table.php
  database/seeders/WeddingGuestSeeder.php
Due: ./vendor/bin/pint

feat: add pgsql unaccent support
  app/Http/QueryBuilder/AllowedFilter.php
  app/Http/QueryBuilder/Filters/FiltersPartial.php
  app/View/Composers/Admin/Users/Page.php
  database/migrations/2024_03_21_144209_add_unaccent_extension.php
Due: ./vendor/bin/pint

refactor: add admin.alert
  app/Http/Controllers/Admin/UserController.php
  resources/views/admin/alert.blade.php
  resources/views/admin/users/destroyed.blade.php
Due: ./vendor/bin/pint, prettier --write

refactor: refresh page on unauthenticated HX-Request
  app/Exceptions/Handler.php
Due: ./vendor/bin/pint

refactor: clear views
  resources/views/admin/users/index.blade.php
  resources/views/admin/users/page.blade.php
  resources/views/components/admin/table.blade.php
  resources/views/components/admin/users/form.blade.php
  resources/views/components/alert.blade.php
  resources/views/layouts/admin.blade.php
Due: ./vendor/bin/pint, prettier --write

refactor: clear code
  app/Models/User.php
  tests/Feature/routes/web/admin/users/IndexTest.php
Due: ./vendor/bin/pint

feat: add admin.guests.{index,answer,delete}
  app/Http/Controllers/Admin/WeddingGuestController.php
  app/Http/Requests/AnswerWeddingGuestRequest.php
  app/View/Composers/Admin/Guests/Page.php
  lang/pt_BR.json
  lang/pt_BR/validation.php
  resources/views/admin/guests/index.blade.php
  resources/views/admin/guests/page.blade.php
  resources/views/layouts/admin.blade.php
  routes/web.php
Due: ./vendor/bin/pint, prettier --write

build: add npm format script
  package.json
Due: none

build: add inputmask
  package-lock.json
  package.json
  resources/js/app.js
  resources/js/bootstrap.js
Due: prettier --write

refactor: add WeddingGuestRules
  app/Http/Requests/AnswerWeddingGuestRequest.php
  app/Rules/WeddingGuestRules.php
Due: ./vendor/bin/pint

feat: add admin.guests.{create,store,edit,update}
  app/Http/Controllers/Admin/WeddingGuestController.php
  app/Http/Requests/StoreWeddingGuestRequest.php
  app/Http/Requests/UpdateWeddingGuestRequest.php
  app/View/Composers/Admin/Guests/Inputs.php
  lang/pt_BR.json
  resources/views/admin/guests/create.blade.php
  resources/views/admin/guests/edit.blade.php
  resources/views/admin/guests/index.blade.php
  resources/views/admin/guests/inputs.blade.php
  resources/views/components/admin/guests/form.blade.php
  resources/views/layouts/admin.blade.php
Due: ./vendor/bin/pint, prettier --write

refactor: clear code
  app/Http/Controllers/Admin/UserController.php
Due: ./vendor/bin/pint

refactor: clear views
  resources/views/admin/guests/page.blade.php
  resources/views/admin/users/page.blade.php
Due: ./vendor/bin/pint, prettier --write

refactor: host inter font
  package-lock.json
  package.json
  resources/css/app.css
  resources/views/layouts/app.blade.php
  tailwind.config.js
Due: ./vendor/bin/pint, prettier --write

build: npm audit fix
  package-lock.json
Due: none

feat: add landing page
  lang/pt_BR.json
  resources/images/svg/lily.svg
  resources/views/home.blade.php
  routes/web.php
Due: ./vendor/bin/pint, prettier --write

refactor: clear code
  .env.example
  resources/views/layouts/admin.blade.php
Due: ./vendor/bin/pint, prettier --write

fix: use https on vite build
  vercel.json
Due: none

refactor: update map
  resources/views/home.blade.php
Due: ./vendor/bin/pint, prettier --write

feat: add confirmation form
  resources/views/home.blade.php
Due: ./vendor/bin/pint, prettier --write

style: update images
  resources/views/home.blade.php
Due: ./vendor/bin/pint, prettier --write

refactor: clear code
  app/Models/User.php
  app/Models/WeddingGuest.php
  resources/views/admin/guests/page.blade.php
  resources/views/admin/users/page.blade.php
Due: ./vendor/bin/pint, prettier --write

feat: add reais helper
  app/Providers/AppServiceProvider.php
  app/helpers.php
Due: ./vendor/bin/pint

feat: add Gift
  app/Http/Controllers/Admin/GiftController.php
  app/Http/Controllers/GiftController.php
  app/Http/Requests/StoreGiftRequest.php
  app/Http/Requests/UpdateGiftRequest.php
  app/Models/Gift.php
  app/Rules/GiftRules.php
  app/View/Composers/Admin/Gifts/Inputs.php
  app/View/Composers/Admin/Gifts/Page.php
  database/factories/GiftFactory.php
  database/migrations/2024_03_30_134052_create_gifts_table.php
  database/seeders/GiftSeeder.php
  lang/pt_BR.json
  lang/pt_BR/validation.php
  resources/views/admin/gifts/create.blade.php
  resources/views/admin/gifts/edit.blade.php
  resources/views/admin/gifts/index.blade.php
  resources/views/admin/gifts/inputs.blade.php
  resources/views/admin/gifts/page.blade.php
  resources/views/components/admin/gifts/form.blade.php
  resources/views/components/admin/textarea.blade.php
  resources/views/components/textarea.blade.php
  resources/views/gifts/index.blade.php
  resources/views/home.blade.php
  resources/views/layouts/admin.blade.php
  routes/web.php
Due: ./vendor/bin/pint, prettier --write

style: update gift inputs layout
  resources/views/admin/gifts/inputs.blade.php
Due: ./vendor/bin/pint, prettier --write

fix: unmask price before submit
  lang/pt_BR/validation.php
  resources/views/admin/gifts/inputs.blade.php
Due: ./vendor/bin/pint, prettier --write

fix: typo
  app/Http/Controllers/Admin/GiftController.php
Due: ./vendor/bin/pint

style: update padding
  resources/views/gifts/index.blade.php
Due: ./vendor/bin/pint, prettier --write

feat: add PixService
  .env.example
  app/Services/PixService.php
  config/app.php
Due: ./vendor/bin/pint

feat: add pix
  app/Http/Controllers/PixController.php
  app/Http/Requests/PixRequest.php
  composer.json
  composer.lock
  lang/pt_BR.json
  lang/pt_BR/validation.php
  resources/views/gifts/index.blade.php
  resources/views/pix/error.blade.php
  resources/views/pix/show.blade.php
  routes/web.php
Due: ./vendor/bin/pint, prettier --write

fix: pix message on lower
  app/Http/Controllers/PixController.php
Due: ./vendor/bin/pint

refactor: update pix view
  resources/views/gifts/index.blade.php
  resources/views/pix/show.blade.php
Due: ./vendor/bin/pint, prettier --write

refactor: update pix view
  resources/views/gifts/index.blade.php
Due: ./vendor/bin/pint, prettier --write

style: update home
  resources/views/home.blade.php
Due: ./vendor/bin/pint, prettier --write

Path conditions:
  ./vendor/bin/pint: any of: *.php
  prettier --write: any of: *.{js,blade.php}
